<div class= "page">
	<h2 class="headeline">
		Editing Book
	</h2>

	<div class="edit">

		<%= render "layouts/error_update" %>

	</div>

	<div class="show-transition">
		<div class="trans-box show-block">
			<%= link_to 'Show', book_path(@book) %>
		</div>

		<p class="trans-box show-block">|</p>

		<div class="trans-box">
			<%= link_to 'Back', books_path %>
		</div>
	</div>
