<h2 class="welcome">ようこそ Bookers へ！</h2>

<main class="top">
	<div class="description">
		<strong>Bookers</strong> では、さまざまな書籍に関するあなたの意見や<br>
		印象を共有し交換することができます。
	</div>

	<a href="/books">
		start
	</a>
</main>


